name: Build and Release

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew spotlessApply build shadowJar --no-daemon

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: LibreLoginProd-JAR
        path: target/LibreLoginProd.jar

    - name: Update Latest Release
      if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        title: "Latest Development Build"
        files: target/LibreLoginProd.jar
